* {
    margin: 0;
    padding: 0;
}
body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
}
#nav {
    display: inline-block;
    list-style: none;
}
#nav ul{
    display: inline-block;
    list-style: none;
    margin:  0;
    padding: 0;
}
#nav li {
    display: inline-block;
    width: 150px;
    margin: 0px;
    text-align: center;
  }
#nav li a {
    color: #c4c4c4;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
  }
#logo {
    display: inline-block;
	margin-left: 0px;
}
#header #logo a {
	color: #c4c4c4;
    font-size: 30px;
    letter-spacing: 8px;
	width: 76px;
	text-decoration: none;
	text-transform: uppercase;
}
#cart{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
    padding-top: 30px;
}
#header {
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner {
    width:100%;
    min-height:800px;
    background: url("image/SYNTH.jpg");
    background-size:cover;
    position: relative;
}
#bcontent {
    background:rgba(255,255,255,0.7);
    width:30%;
    height:100px;
    position: absolute;
    top:50%;
    left:35%;
    text-align: center;
}
#bcontent div {
    text-align: center;
    padding:30px 50px;
}
#bcontent div span{
    color: black;
    font-size: 24px;
}
#bcontent span {
	color: #4b4b4b;
    font-size: 26px;
    letter-spacing: 2px;
	width: 76px;
	text-decoration: none;
    text-transform: uppercase;
    padding: 0 30px;
}
#bcontent a{
    display: inline-block;
    background:black;
    color:white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 40px;
}
.centerbar {
    width:100%;
    height:40px;
    line-height:40px;
    background: #c4c4c4;
    text-align: center;
}
.centerbar p{
    color: black;
    text-transform: uppercase;
}