* {
    margin: 0;
    padding: 0;
}
body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
}
#nav {
    display: inline-block;
    list-style: none;
}
#nav ul{
    display: inline-block;
    list-style: none;
    margin:  0;
    padding: 0;
}
#nav li {
    display: inline-block;
    width: 150px;
    margin: 0px;
    text-align: center;
  }
#nav li a {
    color: #c4c4c4;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
  }
#logo {
    display: inline-block;
	margin-left: 20px;
}
#header #logo a {
	color: #c4c4c4;
    font-size: 30px;
    letter-spacing: 8px;
	width: 76px;
	text-decoration: none;
	text-transform: uppercase;
}
#cart{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
    padding-top: 30px;
}
#header {
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner {
    height: 408px;
    width: 1032px;
    background-color: blueviolet
}